/*
* @Author: Administrator
* @Date:   2017-06-23 00:13:04
* @Last Modified by:   Administrator
* @Last Modified time: 2017-06-25 03:07:47
*/
/*默认样式充值*/
html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: "微软雅黑";
	background-color: #eee;
	text-align: center;
}
*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	color: #666;
}
a{
	text-decoration: none;
	color: #00ff60;
}
b{
	font-weight: 500;
	color: #666;
}
input,button{
	border: none;
	outline: none;
	border-radius: 0.2rem;
}
h2 {
	margin: 6rem auto 4rem;
}

.login,.register{
	width: 17rem;
	border: 0.02rem solid #ccc;
	border-radius: 0.1rem;
	background-color: #fff;
	padding: 0 1.5rem 0.8rem 1.5rem;
	margin: 0 auto;
}

.user,.username,.userpass{
	width: 14rem;
	font-size: 1rem;
	border: 0.02rem solid #ccc;
	line-height: 1.8rem; 
	padding: 0 0.5rem;
}
.user,.username{
	margin-top: 1.5rem;
}
.userpass{
	margin: 1rem 0 0 1rem;
}
.log_btn,.reg_btn {
	display: block;
	margin: 0 auto;
	color: #fff;
	font-size: 1.2rem;
	line-height: 2rem;
	background-color: #00ff60;
}
.log_btn {
	padding: 0 6.55rem;
}
.reg_btn {
	padding: 0 5.55rem;
	margin: 1rem 0 1rem 0.5rem;
}
p:nth-of-type(1),
p:nth-of-type(2) {
	padding: 1.2rem 0;
}

p:nth-of-type(1) {
	text-align: left;
}

.maybe,.agree {
	margin: 0 0.35rem 0 0.9rem;
}

b {
	font-size: 0.9rem;
}

h5 {
	margin: 1.2rem 0 0.8rem;
}